<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Página Principal</title>
</head>
<body>
    <header>
        <img src="/static/logo.png" alt="Logo del negocio" class="logo">
        <h1>Bienvenido a Aldaba Gironesa</h1>
    </header>
    <main>
        <form action="/resultado" method="post">
            <label for="codigo">Ingrese el Código:</label>
            <input type="text" id="codigo" name="codigo" required>
            <button type="submit">Buscar</button>
        </form>
    </main>
</body>
</html>
